<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mongo Scraper</title>
    <!--Import Google Icon Font-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header>
        <nav class="red darken-4" role="navigation">
            <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">Mongo
                    Scraper</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="/"><i class="material-icons left">home</i>Home</a></li>
                    <li><a href="/savedarticles"><i class="material-icons left">save</i>Saved Articles</a></li>
                    <li><a id="scrape-btn"><i class="material-icons left">cloud_download</i>Scrape New
                            Articles <span class="new badge hide" data-badge-caption="new" id="newScraped">4</span>
                            <div class="preloader-wrapper small active hide" id="scrapeSpinner">
                                <div class="spinner-layer spinner-green-only">
                                    <div class="circle-clipper left">
                                        <div class="circle"></div>
                                    </div>
                                    <div class="gap-patch">
                                        <div class="circle"></div>
                                    </div>
                                    <div class="circle-clipper right">
                                        <div class="circle"></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li><a id="clear-btn"><i class="material-icons left">delete</i>Clear Articles</a></li>
                </ul>
                <ul id="nav-mobile" class="sidenav">
                    <li><a href="/"><i class="material-icons left">home</i>Home</a></li>
                    <li><a href="/savedarticles"><i class="material-icons left">save</i>Saved Articles</a></li>
                    <li><a id="scrape-btn"><i class="material-icons left">cloud_download</i>Scrape New
                            Articles</a></li>
                    <li><a id="clear-btn"><i class="material-icons left">delete</i>Clear Articles</a></li>
                </ul>
                <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            </div>
        </nav>
    </header>
    <main>
        <h1 class="header center red-text">TechCrunch</h1>
        <div class="row center">
            <h6 class="header col s12 light">Reporting on the business of technology, startups, venture capital funding,
                and Silicon Valley.</h6>
        </div>
        <div class="container">
            {{{body}}}
        </div>
    </main>
    <footer class="page-footer red darken-1">
        <div class="footer-copyright">
            <div class="container">
                TechCrunch Mongo Scraper
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="js/init.js"></script>
    <script src="js/script.js"></script>

</body>

</html>